.result-demo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-top: none;
  padding: 15px;
  padding-top: 50px;
  color: grey;
  background-color: #f8f8f8;
  display: block;
  border-radius: 5px;
}

.result-demo:before {
  display: block;
  content: "Result:";
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 15px;
  width: 100%;
  background-color: #e0e0e0;
  font-weight: 400;
}

#navbar {
  background-color:transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
}

#navbar .navbar-item {
  display: block;
  height: 60px;
  width: 60px;
  background-color: rgb(204, 204, 204);
  color: #f2f2f2;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  padding: 15px;
  margin: 20px;
}

#navbar .navbar-menu {
  float: left;
  border-radius: 15px 15px 15px 0px;
}

#navbar .navbar-profile {
  float: right;
  border-radius: 0px 15px 15px 15px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
